<html>
    <body>
        <if(data.book.id)>
            <h1>Edição de Livro</h1>
        </if>
        <else>
            <h1>Cadastro de Livro</h1>
        </else>

        <form action="/books" method="post">
            <div if(data.book.id)>
                <input type="hidden" name="_method" value="PUT">
                <input type="hidden" id="id" name="id" value="${data.book.id}" />
            </div>

            <div>
                <label for="titulo">Titulo:</label>
                <input type="text" id="title" name="title" placeholder="coloque o titulo" value="${data.book.title}" />
            </div>
            <div>
                <label for="preco">Preço:</label>
                <input type="text" id="price" name="price" placeholder="150.25" value="${data.book.price}" />
            </div>
            <div>
                <label for="descricao">Descrição:</label>
                <textarea cols="20" rows="10"  id="description" name="description" placeholder="fale sobre o livro">${data.book.description}</textarea>
            </div>

            <input type="submit" value="Editar" />
        </form>
    </body>
</html>